django
psycopg2-binary
django-cors-headers
channels
daphne
graphene-django
django-graphql-jwt
python-dotenv
requests
python-barcode
Pillow
firebase-admin
celery[redis]
django-celery-beat
django-celery-results
whitenoise[brotli]
gunicorn